[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinydbauth"]
	path = shinydbauth
	url = https://github.com/diegoefe/shinydbauth
